// en
.locale-0 {
  .nav-item {
    letter-spacing: .05em;
  }
  .tl {
    //font-size: 90%; todo
  }
  .content {
    text-align: inherit;
  }
  .faq-box {
    text-align: left;
    font-size: 90%;

    &.expand > div {
      max-height: 400px;
    }
  }
}

// zh
